In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
from datetime import datetime
import seaborn as sns

mpl.rc('font', family = 'Malgun Gothic')

In [3]:
df1 = pd.read_csv('CHAI_raw.csv')

In [4]:
df1.shape

(5623810, 18)

In [5]:
df1.columns

Index(['Unnamed: 0', 'customer_id', 'created_at', 'pre_discount',
       'post_discount', 'cashback_amount', 'discount_amount',
       'total_promotion', 'sign_up_date', 'push_permission', 'gender',
       'is_foreigner', 'merchant_id', 'Ord_Y', 'Ord_YM', 'Ord_YMD', 'Ord_M2',
       'Age'],
      dtype='object')

In [6]:
df1 = df1.drop(['Unnamed: 0'], axis=1)

In [7]:
df1.head(2)

,customer_id,created_at,pre_discount,post_discount,cashback_amount,discount_amount,total_promotion,sign_up_date,push_permission,gender,is_foreigner,merchant_id,Ord_Y,Ord_YM,Ord_YMD,Ord_M2,Age
0,207317,2020-03-22 10:27:52.498,36236,36236,1087,0,1087,2019-11-30 16:48:19.339,True,female,False,9,2020,2020-03,2020-03-22,2020-03,64
1,95246,2020-03-12 09:41:09.845,12900,12900,387,0,387,2019-07-09 08:21:14.098,True,female,False,6,2020,2020-03,2020-03-12,2020-03,38

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5623810 entries, 0 to 5623809
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   customer_id      int64
 1   created_at       object
 2   pre_discount     int64
 3   post_discount    int64
 4   cashback_amount  int64
 5   discount_amount  int64
 6   total_promotion  int64
 7   sign_up_date     object
 8   push_permission  bool
 9   gender           object
 10  is_foreigner     bool
 11  merchant_id      int64
 12  Ord_Y            int64
 13  Ord_YM           object
 14  Ord_YMD          object
 15  Ord_M2           object
 16  Age              int64
dtypes: bool(2), int64(9), object(6)
memory usage: 654.3+ MB

In [9]:
df1 = df1[['customer_id', 'created_at', 'pre_discount','post_discount', 'cashback_amount', 'discount_amount',
                  'total_promotion', 'sign_up_date', 'push_permission', 'gender','is_foreigner', 'merchant_id',
                  'Ord_Y', 'Ord_YM', 'Ord_YMD', 'Age']]

In [54]:
df1['merchant_id'].value_counts()

3     626313
9     626019
4     625101
8     624806
6     624720
7     624287
5     624215
2     624058
1     312192
10    312099
Name: merchant_id, dtype: int64

In [51]:
# Ageband 만들기
df1['Ageband'] = pd.cut(df1.Age, bins=[0, 20, 30, 40, 50, 60, 70], labels=['u20', '20s', '30s', '40s', '50s', '60s'] )

In [149]:
df1.head(2)

,customer_id,created_at,pre_discount,post_discount,cashback_amount,discount_amount,total_promotion,push_permission,gender,is_foreigner,merchant_id,Ord_Y,Ord_YM,Ord_YMD,Ord_M2,Age
0,207317,2020-03-22 10:27:52.498,36236,36236,1087,0,1087,True,female,False,9,2020,2020-03,2020-03-22,2020-03,64
1,95246,2020-03-12 09:41:09.845,12900,12900,387,0,387,True,female,False,6,2020,2020-03,2020-03-12,2020-03,38

In [10]:
PT1 = df1[['customer_id', 'merchant_id']].drop_duplicates(['customer_id', 'merchant_id']) #두컬럼만 남기고 MC개수세기
PT1 = pd.pivot_table(data=PT1, index=['customer_id' ], values='merchant_id', aggfunc='count')

In [11]:
PT1.shape

(544921, 1)

In [95]:
PT1 = PT1.sort_values(by='customer_id').reset_index()
PT1.rename(columns={'merchant_id': 'NoofMC'}, inplace=True)
#.drop(['index'], axis=1)
# PT1 = PT1.reset_index()
PT1.head(10)

   index  customer_id  NoofMC
0      0            1       2
1      1            2       2
2      2            3       1
3      3            4       5
4      4            5       4
5      5            6       2
6      6            7       1
7      7            8       1
8      8            9       1
9      9           10       2

In [96]:
PT2 = pd.pivot_table(data=df1, index=['customer_id' ], values='created_at', aggfunc='count')
PT2.rename(columns={'created_at': 'Ord_No'}, inplace=True)
PT2.shape

(544921, 1)

In [97]:
PT2 = PT2.reset_index()
PT2.head(10)

   customer_id  Ord_No
0            1       2
1            2       2
2            3       1
3            4       8
4            5       6
5            6       2
6            7       1
7            8       1
8            9       1
9           10       2

In [98]:
PT3 = pd.pivot_table(data=df1, index=['customer_id' ], values=['post_discount', 'total_promotion'],
                                     aggfunc='sum')
PT3.shape

(544921, 2)

In [99]:
PT3 = PT3.reset_index()
PT3.head(10)

   customer_id  post_discount  total_promotion
0            1          18960             5370
1            2          19359             5671
2            3          13440             4680
3            4         216980            10660
4            5          55170            10000
5            6          27600             4000
6            7          14900                0
7            8          82000             3000
8            9          20100            10000
9           10          22590             2560

In [100]:
PT3.columns

Index(['customer_id', 'post_discount', 'total_promotion'], dtype='object')

In [101]:
PT4 = df1[['customer_id', 'Age',  'gender','is_foreigner', 'push_permission']]\
                .drop_duplicates(['customer_id']).sort_values(by='customer_id').reset_index().drop(['index'], axis=1)

In [102]:
PT4.shape

(544921, 5)

In [103]:
PT4.head(2)

   customer_id  Age  gender  is_foreigner  push_permission
0            1   35  female         False            False
1            2   26  female         False            False

In [104]:
PT4.shape

(544921, 5)

In [105]:
#첫거래 가맹점 - 정렬(by Cus_ID, 신규일시, 주문일시) -> Grouping Cus_id, 1st 주문, 신규 -> 주문일-신규일 차이
# 첫거래로 들어오는 가맹점??
PT5 = df1[['customer_id', 'sign_up_date', 'created_at', 'merchant_id']].sort_values(by=['customer_id', 'created_at'])
PT6 = PT5.drop_duplicates(subset = ['customer_id'])

# .drop_duplicates(['customer_id']).sort_values(by='customer_id').reset_index().drop(['index'], axis=1)

In [106]:
PT6.head(2)

,customer_id,sign_up_date,created_at,merchant_id
2558729,1,2019-08-25 18:28:34.815,2019-08-25 18:41:15.118,6
4781666,2,2019-08-09 17:16:59.757,2019-08-09 17:19:03.797,9

In [107]:
PT6 = PT6.reset_index().drop(['index'], axis=1)

In [108]:
PTT1 = pd.merge(PT1,PT2,  how='left')
PTT2 = pd.merge(PTT1,PT3,  how='left')
PTT3 = pd.merge(PTT2,PT4,  how='left')
PTT4 = pd.merge(PTT3,PT6, on='customer_id', how='left')
#['cashback_amount', 'discount_amount', 'total_promotion']

In [109]:
PTT4.columns

Index(['index', 'customer_id', 'NoofMC', 'Ord_No', 'post_discount',
       'total_promotion', 'Age', 'gender', 'is_foreigner', 'push_permission',
       'sign_up_date', 'created_at', 'merchant_id'],
      dtype='object')

In [110]:
PTT4.shape

(544921, 13)

In [111]:
PTT4.head(20)

,index,customer_id,NoofMC,Ord_No,post_discount,total_promotion,Age,gender,is_foreigner,push_permission,sign_up_date,created_at,merchant_id
0,0,1,2,2,18960,5370,35,female,False,False,2019-08-25 18:28:34.815,2019-08-25 18:41:15.118,6
1,1,2,2,2,19359,5671,26,female,False,False,2019-08-09 17:16:59.757,2019-08-09 17:19:03.797,9
2,2,3,1,1,13440,4680,40,male,False,True,2019-08-24 16:43:13.693,2019-08-24 16:40:55.26,4
3,3,4,5,8,216980,10660,35,male,False,True,2019-07-27 20:35:40.581,2019-10-03 16:26:20.064,5
4,4,5,4,6,55170,10000,44,female,False,True,2020-01-11 12:28:23.167,2020-01-11 12:27:51.707,7
5,5,6,2,2,27600,4000,30,female,False,False,2020-02-27 10:23:47.514,2020-02-27 10:25:55.706,5
6,6,7,1,1,14900,0,38,male,False,False,2019-06-13 12:40:07.806,2020-03-10 08:03:56.192,2
7,7,8,1,1,82000,3000,34,female,False,False,2020-01-22 15:18:14.765,2020-01-22 15:17:06.887,8
8,8,9,1,1,20100,10000,23,female,False,True,2019-08-31 11:21:44.275,2019-08-31 11:25:59.75,2
9,9,10,2,2,22590,2560,32,female,False,False,2020-02-05 12:06:26.141,2020-02-05 12:11:42.293,5
10,10,11,6,8,957600,40700,29,male,False,False,2019-11-09 23:14:10.77,2019-11-09 23:15:14.471,2
11,11,12,2,2,19019,2641,25,female,False,True,2019-10-23 12:11:22.166,2019-10-23 12:10:18.768,1
12,12,13,1,2,22944,4368,40,female,False,True,2019-08-07 00:57:59.319,2019-08-07 00:59:55.842,3
13,13,14,4,4,11600,8000,38,male,False,False,2020-01-14 00:58:22.057,2020-01-14 00:56:51.839,5
14,14,15,5,9,167866,10210,23,female,False,True,2019-09-22 10:48:43.746,2019-09-22 10:51:25.273,3
15,15,16,3,3,34660,5770,47,female,False,True,2019-09-01 23:02:51.627,2019-09-13 13:02:01.857,9
16,16,17,7,8,70479,6970,21,female,False,False,2019-10-05 16:27:32.685,2019-10-05 16:36:14.271,5
17,17,18,2,2,50400,4000,38,male,False,False,2019-11-30 13:30:50.721,2020-01-12 20:39:04.417,9
18,18,19,2,2,45600,5950,26,female,False,False,2019-06-18 15:34:48.635,2019-08-10 16:28:03.401,2
19,19,20,2,2,18800,2297,31,male,False,True,2020-02-26 04:59:33.534,2020-02-26 05:06:18.618,7

In [112]:
def date_function(row):
    return row[0:10]

PTT4['Ord_YMD']= pd.to_datetime(PTT4['created_at'].apply(date_function))
PTT4['Iss_YMD']= pd.to_datetime(PTT4['sign_up_date'].apply(date_function))

In [113]:
PTT4['Psd_D'] = PTT4['Ord_YMD']-PTT4['Iss_YMD']

In [ ]:
PTT4.head(10)

In [115]:
PTT4.to_excel('PTT4_BYCUS.xlsx')

In [122]:
#sns.countplot(data=PTT4, x='merchant_id')
#sns.countplot(data=PTT4, x='Ord_No',hue='merchant_id')
#sns.histplot(data=PTT4, x='Psd_D')
sns.countplot(data=PTT4, x='customer_id',hue='merchant_id')
#sns.barplot(data=PTT4, x='product',y='age')
#sns.lineplot(data=PTT4,x='datetime(timestmp)',y='amount')

KeyboardInterrupt
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-123-772542622319>", line 4, in <module>
    sns.countplot(data=PTT4, x='customer_id',hue='merchant_id')
  File "C:\Users\WS\anaconda3\lib\site-packages\seaborn\_decorators.py", line 46, in inner_f
    return f(**kwargs)
  File "C:\Users\WS\anaconda3\lib\site-packages\seaborn\categorical.py", line 3599, in countplot
    errcolor, errwidth, capsize, dodge
  File "C:\Users\WS\anaconda3\lib\site-packages\seaborn\categorical.py", line 1587, in __init__
    self.estimate_statistic(estimator, ci, n_boot, seed)
  File "C:\Users\WS\anaconda3\lib\site-packages\seaborn\categorical.py", line 1506, in estimate_statistic
    stat_data = remove_na(group_data[hue_mask])
  File "C:\Users\WS\anaconda3\lib\site-packages\pandas\core\series.py", line 871, in __getitem__
    key = check_bool_indexer(self.index, key)
  File "C:\Users\WS\anaconda3\lib\site-packages\pandas\core\indexing.py", line 2265, in check_bool_indexer
    if isinstance(key, ABCSeries) and not key.index.equals(index):
  File "C:\Users\WS\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 4458, in equals
    if is_object_dtype(self.dtype) and not is_object_dtype(other.dtype):
  File "C:\Users\WS\anaconda3\lib\site-packages\pandas\core\dtypes\common.py", line 201, in is_object_dtype
    def is_object_dtype(arr_or_dtype) -> bool:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2047, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1418, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1318, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1175, in structured_traceback
    tb_offset)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1126, in format_exception_as_a_whole
    head = self.prepare_header(etype, self.long_header)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1080, in prepare_header
    width = min(75, get_terminal_size()[0])
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\utils\terminal.py", line 129, in get_terminal_size
    return _get_terminal_size((defaultx, defaulty))
  File "C:\Users\WS\anaconda3\lib\shutil.py", line 1094, in get_terminal_size
    columns = int(os.environ['COLUMNS'])
  File "C:\Users\WS\anaconda3\lib\os.py", line 676, in __getitem__
    value = self._data[self.encodekey(key)]
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3254, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3348, in run_code
    self.showtraceback(running_compiled_code=True)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2059, in showtraceback
    print('\n' + self.get_exception_only(), file=sys.stderr)
  File "C:\Users\WS\anaconda3\lib\site-packages\ipykernel\iostream.py", line 402, in write
    self.pub_thread.schedule(lambda : self._buffer.write(string))
  File "C:\Users\WS\anaconda3\lib\site-packages\ipykernel\iostream.py", line 205, in schedule
    self._event_pipe.send(b'')
  File "C:\Users\WS\anaconda3\lib\site-packages\zmq\sugar\socket.py", line 400, in send
    return super(Socket, self).send(data, flags=flags, copy=copy, track=track)
  File "zmq/backend/cython/socket.pyx", line 728, in zmq.backend.cython.socket.Socket.send
  File "zmq/backend/cython/socket.pyx", line 775, in zmq.backend.cython.socket.Socket.send
  File "zmq/backend/cython/socket.pyx", line 242, in zmq.backend.cython.socket._send_copy
  File "zmq/backend/cython/checkrc.pxd", line 12, in zmq.backend.cython.checkrc._check_rc
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\WS\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\WS\anaconda3\lib\inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\WS\anaconda3\lib\inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\WS\anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\WS\anaconda3\lib\inspect.py", line 732, in getmodule
    for modname, module in list(sys.modules.items()):
KeyboardInterrupt

KeyboardInterrupt

In [123]:
sns.countplot(data=PTT4, x='customer_id',hue='merchant_id')

ERROR! Session/line number was not unique in database. History logging moved to new session 422

KeyboardInterrupt